body{
    font-family: 'Edu SA Beginner', cursive;
    font-size: 20px;
    margin: 0;
}
.color-tomato{
    color: tomato;
}
.flexible-container{
    display: flex;
    text-align: justify;
    margin-bottom: 90px;
}
.half-width{
    width: 50%;
    padding-left: 5px;
    margin: 40px 20px;
}
.half-width img{
    width: 80%;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 10px;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.banner-2{
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
#rating{
    color: tomato;
}
.iron-witcher{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    width: 50%;
    padding-left: 5px;
    padding: 10px;
    margin: 40px 70px;
}
.ratings{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#iron-man{
    border-left: 5px solid tomato;
}
#witcher{
    border-left: 5px solid blue;
}
#footer{
    text-align: center;
}